* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
}
body {
  background-color: #f9fafb;
  color: #333;
  
    
}

nav {
  background: #1e293b;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav .logo {
  font-weight: 700;
  font-size: 1.4rem;
}

nav .logo img {
    height:48px; 
    width:auto; 
    display:block;
    padding-left: 17px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #38bdf8;
}

.game-section {
  padding: 2rem 1.5rem;
}

.game-section h2 {
  margin-bottom: 1rem;
  color: #1e293b;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 1rem;
  padding-top: 20px;
}

.game-grid a{
  text-decoration: none;
  color: black;
}

.game-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.game-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.game-card p {
  padding: 0.5rem;
  font-weight: 500;
  text-align: center;
}
